<div class="card text-bg-light">
  <div class="card-body">
    <%= simple_form_for(flat) do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <div class="row">
        <div class="col">
          <%= f.input :price_per_night, as: :integer %>
        </div>
        <div class="col">
            <%= f.input :number_of_guests, as: :integer %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
