<div class="text-center">
  <h1 class="mt-5">All flats</h1>
  <p>All our <%= @flats.count %> flats</p>
  <%= link_to 'Register new flat', new_flat_path, class: "btn btn-primary mt-2 mb-4" %>
</div>



<%# Creates images' array so that each card has a different photo %>
<% images = [] %>
<% @flats.count.times do |time| %>
  <% dimensions = [1080 + time, 720 + time] %>
  <% images << Faker::LoremFlickr.image(size: "#{dimensions.first}x#{dimensions.last}", search_terms: ['apartment', 'airbnb']) %>
<% end %>

<div class="row">
  <% @flats.each_with_index do |flat, index| %>
    <div class="card m-3 col-md-4 p-0 position-relative" style="width: 18rem;">
      <img src="<%= images[index] %>" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= flat.name %></h5>
        <h6 class="card-subtitle my-2 text-muted"><%= flat.address %></h6>
        <p class="card-text"><%= flat.description %></p>
        <div class="row px-3 mt-auto">
          <div class="row text-center">
            <p class="col"><%= flat.number_of_guests %> <i class="fa-solid fa-user-large"></i></p>
            <p class="col"><i class="fa-solid fa-brazilian-real-sign"></i> <%= flat.price_per_night %></p>
          </div>
          <%= link_to 'See details', flat_path(flat), class: "btn btn-primary"%>
          <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
        </div>
      </div>
    </div>
  <% end %>
</div>
